Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
WTForms
RPi.GPIO
gpiozero
spidev
smbus2
w1thermsensor
adafruit-circuitpython-ads1x15
adafruit-circuitpython-bme280
adafruit-circuitpython-dht
pandas
numpy
influxdb-client
redis
requests
gunicorn
eventlet
APScheduler
celery
Pillow
opencv-python
pyserial
paho-mqtt
python-dateutil
pytz
psutil
configparser
pytest
pytest-cov
black
flake8
